asgiref==3.7.2
dj-database-url==2.1.0
Django==4.2.6
django-heroku==0.3.1
gunicorn==21.2.0
psycopg2==2.9.9
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6btwyyj8a1/croot/pytz_1695131592184/work
sqlparse==0.4.4
whitenoise==6.6.0