{% extends "myFirstShop/main.html" %}

{% block content %}
    <div class="row">
        
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" name="search-elem" class="form-control form-control-borderless" placeholder="Entrez le nom du produit recherché">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Recherche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% for product in myProduct %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{product.image_prod}}" alt="" class="card-img-top">
                <div class="card-body">
                    <div id="dfs{{ product.id }}" class="card-title">{{product.name_prod}}</div>
                    <div id="price{{ product.id }}" class="card-text">{{product.price_prod}} FCFA</div>
                    <a href="{{ product.id }}"><button class="btn btn-primary">Détails</button></a>
                    <button id="{{ product.id }}" class="btn btn-success add">Ajouter</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if myProduct.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?myPage={{ myProduct.previous_page_number }}"> Précédent </a>
                </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="?myPage={{ myProduct.number }}">{{ myProduct.number }}</a>
                </li>

                {% if myProduct.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?myPage={{ myProduct.next_page_number }}"> Suivant </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    //    console.log("Hello world!");
    
        if (localStorage.getItem("panier") == null){
            var myPanier = {};
        }else{
            myPanier = JSON.parse(localStorage.getItem("panier"));
        }
        $(document).on("click", ".add", function(){
    
            var id_prod = this.id.toString();
            console.log(id_prod)
            if(myPanier[id_prod] != undefined){
                quantite = myPanier[id_prod][0] + 1;
                myPanier[id_prod][0] = quantite;
                myPanier[id_prod][2] += parseFloat(document.getElementById("price"+id_prod).innerHTML);
            }else{
                quantite = 1;
                prix_cmd = parseFloat(document.getElementById("price"+id_prod).innerHTML);
                nom_prod = document.getElementById("dfs"+id_prod).innerHTML;
                myPanier[id_prod] = [quantite, nom_prod, prix_cmd]
            }
            
            localStorage.setItem("panier", JSON.stringify(myPanier));
            document.getElementById("id_panier").innerHTML = "Panier("+ Object.keys(myPanier).length+ ")";
            console.log(myPanier)
            //console.log(Object.keys(myPanier).length);
        })

        listProduct(myPanier)
            
        function listProduct(panier){
            var panierString = "";
            panierString += "<h6> Produits commandés </h6>";
            //let index = 1;
            for (var x in panier){
                //panierString += index;
                panierString += document.getElementById("dfs"+x).innerHTML + " Qte: " + panier[x][0] + "</br>";
                //index ++;
            }
            panierString += "<a href='/check' class='btn btn-success'>Vérifier</a> ";

            $(function () {
                $('[data-toggle="popover"]').popover()
                document.getElementById("id_panier").setAttribute("data-content", panierString)
            })
        }
    </script>
{% endblock %} 