{% extends "myFirstShop/main.html" %}

{% block content %}
<h3 align="center">Voici la liste des produits commandés</h3>
<div class="row">
    <div class="col-md-12">
        <ol class="list-group list-group-numbered" id="list-prod">
           
        </ol>
        <div class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Quantité & Prix total</div>
          </div>
          <span id="qt-cmd" class="badge bg-primary rounded-pill">qtes:</span>
          <span id="price-cmd" class="badge bg-success rounded-pill">prix total = </span>
        </div> 
    </div>
</div>
<h3 align="center">Vous pouvez valider votre commande ici </h3>
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="items" id="items">
            <input type="hidden" name="prix" id="prix">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputname">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom complet">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="exemple@nom.com">
              </div>
            </div>

            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St">
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Ville</label>
                <input type="text" class="form-control" id="ville" name="ville">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Pays</label>
                <select id="pays" name="pays" class="form-control">
                  <option selected>Sénégal</option>
                  <option>Maroc</option>
                  <option>Mauritanie</option>
                  <option>Gambie</option>
                  <option>Mali</option>
                  <option>Guinée Bissau</option>
                  <option>Guinée Conackry</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="zipcode" name="zipcode">
              </div>
            </div>

            <a href="{% url 'checkout' %}">
                <button type="submit" class="btn btn-success">Valider</button>
            </a>
        </form>
    </div>
</div>

{%  endblock %}

{% block js %}
    <script type="text/javascript">
        if(localStorage.getItem("panier") == null){
            var myPanier = {};
        }else{
            myPanier = JSON.parse(localStorage.getItem("panier"));
        }
        var prix_total = 0;
        var qt_total = 0;
        for(elem in myPanier){
            let nom = myPanier[elem][1];
            let qte = myPanier[elem][0];
            let prix = myPanier[elem][2];
            let itemProd = ` <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">${nom}</div>
              </div>
              <span class="badge bg-primary rounded-pill"> qte : ${qte} </span>
              <span class="badge bg-success rounded-pill"> prix : ${prix} FCFA</span>
            </li>`;
            prix_total += prix;
            qt_total += qte;
            $("#list-prod").append(itemProd);
            
        }
        $("#price-cmd").append(prix_total+" FCFA");
        $("#qt-cmd").append(qt_total);
        $("#items").val(JSON.stringify(myPanier));
        $("#prix").val(prix_total);
    </script>
    
{% endblock %} 